@model IEnumerable<Week06_OAuth.Models.Module>

@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
	@Html.ActionLink("My Modules", "ModulesByUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MacAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MacAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModuleId })
        </td>
    </tr>
}

</table>
